.container {
    text-align: center;
    background-color: #FFD700; /* Color de fondo naranja claro */
    padding: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white;
    border: none;
    cursor: pointer;
}